In [0]:
%run "../../../config/setup"


Get items_bronze table and deduplicate item_id

In [0]:
CREATE OR REPLACE TABLE items_dedupped AS
  SELECT item_id, max(item_name) AS item_name, max(price) AS price, max(category) AS category FROM items_bronze
  WHERE item_id IS NOT NULL 
  GROUP BY item_id

In [0]:
GRANT SELECT ON TABLE items_dedupped TO devs

In [0]:
-- will be commented out for optimization of pipeline
-- SELECT max(row_count) <= 1 AS valid FROM 
--   (SELECT item_id, count(*) AS row_count FROM items_dedupped
--   WHERE item_id IS NOT NULL
--   GROUP BY item_id)

In [0]:
CREATE OR REPLACE VIEW categories AS
SELECT DISTINCT category as category FROM items_dedupped WHERE category IS NOT NULL

In [0]:
GRANT SELECT ON TABLE categories TO devs